body {
  /**font-family: Liberation Sans, Arial, sans-serif;**/
  background-color: #fffaf7;
  /**line-height: 1.5;**/
}

h1 { font-family: Garamond; font-size: 32px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 32px; }
h3 { font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; font-size: 25px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 32px; }
p { font-family: Baskerville; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 32px; }
blockquote { font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; font-size: 25px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 32px; }
pre { font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 32px; }

main {
  max-width: 90ch;
  padding: 2ch;
  margin: auto;
}
header {
  margin-bottom: 1.5rem;
}

nav {
}

nav ul {
  list-style: none;
  margin: 0 auto;
  text-align: right;
}

nav ul li {
  display: inline-block;
  padding: 0px 0px 0px 20px;
}

h1 {
  margin-bottom: .5rem;
}
time {
  color: #888;
  text-decoration: italic;
}
pre {
  white-space: pre-wrap;
}
hr {
  margin-top: 2rem;
}
#fn {
  font-size: 85%;
}
a {
  color: #f43059;
  text-decoration: none;
  outline: 0;
}
a:hover {
  text-decoration: underline;
}
::selection {
  background-color: #fff888;
}

.tachado {
    text-decoration: line-through;
}
